@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    /*color: brown;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;*/
    background-color: rgb(255, 190, 69); 
}

div#header {
    display: flex;
    align-items: center;
    padding: 30px;
    font-size: 45px;
    font-weight: bold;
    background-color: white;
    color: black;
}
 div#header img{
    height: 150px;
} 
/* a{
    color: brown;
    text-decoration: none;
    background-color: white;
    border:brown solid 5px;
    border-radius: 10px;
    margin: 15px;
}
li{
    margin: 20px;
} */